DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/banco
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=banco

TEST_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/banco_test